*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Cascadia Code", sans-serif;
    color: var(--white);
    transition: all 0.4s;
    border-radius: 7px;
}

a {
    text-decoration: none;
}

:root {
    --white: rgb(211, 211, 211);
    --black: #2c313a;
}

body {
    background: var(--black);
}

.flex-center-three {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.flex-container {
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.interface {
    flex-direction: column;
    background-color: #282c34;
    padding: 15px;
    box-shadow: rgba(17, 17, 26, 0.3) 0px 8px 24px,
        rgba(17, 17, 26, 0.3) 0px 16px 56px, rgba(17, 17, 26, 0.3) 0px 24px 80px;
    margin-bottom: 40px;
}

.title-container {
    width: 236.25px;
    height: 99px;
}

.game-title {
    padding: 10px;
}

.game-board {
    display: flex;
    flex-direction: column;
}

.col {
    display: flex;
    flex-direction: row;
}

.col .item {
    margin: 10px;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
}

.title-container a:focus,
.title-container a:hover,
.col a:focus,
.col a:hover,
.game-output a:focus,
.game-output a:hover {
    outline: 0;
    background: #21252b;
    transform: scale(1.1);
}

.info a,
.game-output a {
    padding-bottom: 10px;
    text-decoration-line: underline;
    text-underline-offset: 8px;
}

.info a:hover,
.info a:focus,
.game-output a:hover,
.game-output a:focus {
    outline: 0;
    background: #21252b;
    transform: scale(2);
    text-decoration: none;
    padding: 10px;
}

.game-output {
    margin: 15px 0;
}

.winner-output {
    display: inline-block;
}

.display-none {
    display: none;
}

.p-info {
    text-align: center;
}

.p-info-0 {
    margin-bottom: 20px;
}
